{% extends 'base.html' %}
{% block title %}Set Appointment to Dr.Janek{% endblock %}
{% block meta_description %}Appointment for the Dr.Janek{% endblock%}
{% load static %}



{% block content %}



  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url(img/bg-img/12.jpg);">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Appointment</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->
 
	<center>

	<h2>
	Review Your Information:
	</h2>

	<strong>Your name: </strong>{{ your_name }}\n</br>
	<strong>Phone: </strong>{{ your_phone }}\n</br>
	<strong>Email: </strong>{{ your_email }}\n</br>
	<strong>Your address: </strong>{{ your_address }}\n</br>
	<strong>Your schedule: </strong>{{ your_schedule }}\n</br>
	<strong>Your date: </strong>{{ your_date }}\n</br>
	<strong>Your message: </strong>{{ your_message }}\n</br>


	<strong>Note:</strong>
	<p>We willget back soon to confirm your appointment!</p></br></br>
	<h1>Thank you!</h1>


	</br></br>

	</center>



  

  </br></br></br></br>


{% endblock %}
	
			 
		 